.items{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 150px 150px 150px 150px;
    background-color: bisque;

}
.item-a{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blue;
}
.item-b{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(118, 210, 247);
    border: solid rgb(2, 88, 6) 2px;
}
.item-c{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: rgb(236, 152, 208);
    border: solid rgb(218, 5, 16) 2px;
}